version: "3.8"

services:
  n8n:
    image: n8nio/n8n
    restart: always
    environment:
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_HOST=n8n
      - N8N_PORT=5678
    ports:
      - 5678:5678
    volumes:
      - n8n_data:/home/node/.n8n


volumes:
  n8n_data:
